{% extends "tracker/layout.html" %}

{% block body %}
<div class="list_dramas_category mx-12 mt-12">

    {% for genre in genres %}
    <div></div>
    <div>
        <h1 class="text-2xl font-extrabold tracking-tight text-center sm:text-3xl"> {{genre}}</h1>
    </div>
    {% empty %}
    <div></div>
    <div>
        <h1 class="text-2xl font-extrabold tracking-tight text-center sm:text-3xl"> All</h1>
    </div>
    {% endfor %}
</div>
<div class="list_dramas_category p-12">
    <div class="">
        <h1 class="text-center text-lg">Category</h1>
        <div class="flex flex-col ">
            {% url 'category' as cat %}
            <a class="text-center text-sm mt-6 {% if request.path == cat %} active {% endif %}"
                href="{% url 'category'%}">All</a>
            {% for category in categories %}
            {% url 'choose_category' category.id as cat %}
            <a class="text-center text-sm mt-2 {% if request.path == cat or request.path == url %} active {% endif %}"
                href="{% url 'choose_category' category.id %}">{{ category }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="flex justify-center flex-wrap items-center gap-x-32">
        {% for drama in list_dramas %}
        <div class="card my-3 mb-7 drama">
            <img class="mx-auto md:mb-0 mb-6" src="{{ drama.img_small}}" alt="" srcset="">
            <div class="card-body">
                <div class="card-about">
                    <a href="{% url 'drama' drama.title %}">

                        <p class="card-header">{{ drama.title}}</p>
                    </a>
                    <p class="card-episode">{{ drama.total_episode}} Episodes - {{ drama.region}}</p>
                </div>
                <div class="card-order-info">
                    <div>
                        <p class="card-genre">{{ drama.genre}} ...</p>
                    </div>
                    {% if user.is_authenticated %}
                    {% if request.user.username != drama.username %}
                    <form action="{% url 'watchlist_drama' drama.id %}" method="post">
                        {% csrf_token %}
                        <input style="display:none;" type="text" value="watchlist" name="origin">
                        {% if drama not in drama_list %}
                        <div>
                            <input style="display:none;" type="text" value="add" name="condition">
                            <button type="submit" class="watch">
                                <i class='bx bx-plus'></i>
                            </button>
                        </div>
                        {% elif drama in drama_list %}
                        <div>
                            <input style="display:none;" type="text" value="remove" name="condition">
                            <button type="submit" class="watch">
                                <i class='bx bx-tv'></i>
                            </button>
                        </div>
                        {% endif %}
                    </form>
                    {% endif %}
                    {{else}}

                    {% endif %}
                </div>
            </div>
            {% if user.is_authenticated %}
            {% if request.user.username != drama.username %}
            <form action="{% url 'favorite_action' drama.id %}" method="post">
                {% csrf_token %}
                <input style="display:none;" type="text" value="favorite" name="favv">
                {% if drama not in favorite_drama_list %}
                <div>
                    <input style="display:none;" type="text" value="favorite" name="fav">
                    <button type="submit" class="btn-icon">
                        <i class='bx bx-heart'></i>
                    </button>
                </div>
                {% elif drama in favorite_drama_list %}
                <div>
                    <input style="display:none;" type="text" value="unfavorite" name="fav">
                    <button type="submit" class="btn-icon">
                        <i class='bx bxs-heart'></i>
                    </button>
                </div>
                {% endif %}
            </form>
            {{else}}

            {% endif %}
            {{else}}

            {% endif %}
        </div>
        {% empty %}
        <li>No active drama</li>

        {% endfor %}
    </div>
</div>

<div class="flex justify-center content-center mb-9 ">
    {% if list_dramas.has_previous %}
    <a href="?page={{ list_dramas.previous_page_number }}" class=" px-4 py-2 mx-1 capitalize rounded-md btn-paginator">
        <div class="flex items-center -mx-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-1 rtl:-scale-x-100" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
            </svg>

            <span class="mx-1">
                previous
            </span>
        </div>
    </a>
    {% endif %}
    {% if list_dramas.has_next %}
    <a href="?page={{ list_dramas.next_page_number }}"
        class="px-4 py-2 mx-1 transition-colors duration-300 transform rounded-md btn-paginator">
        <div class="flex items-center -mx-1">
            <span class="mx-1">
                Next
            </span>

            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-1 rtl:-scale-x-100" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
            </svg>
        </div>
    </a>
    {% endif %}
</div>

{% endblock %}
